/* Boxy ---*/
.boxy-wrapper{position:absolute}
.boxy-wrapper.fixed{position:fixed}
.boxy-wrapper a{outline:0}
.boxy-modal-blackout{position:absolute;background-color:#000;left:0;top:0}
.boxy-wrapper{empty-cells:show}
.boxy-wrapper .title-bar{display:none}
.boxy-wrapper .title-bar.dragging{cursor:move}
.boxy-inner{padding:0}
.boxy-content{padding:0}
.loading{position:absolute;bottom:1px;left:1px;background-color:#f7ffee;padding:4px 8px 3px;color:#555;font-size:11px}
.loading span{display:block;float:left;background:url(../images/loading.gif) 0 0 no-repeat;width:20px;height:11px}

/* Global ---*/
.popup{position:relative;background-color:#fff;margin:0;border:4px solid rgba(255, 255, 255, 0.24);-moz-background-clip:border;-webkit-background-clip:border;background-clip:border-box;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.popup .title-popup{position:relative;background-color:#4ea100;height:28px;padding:8px 0 0 10px;color:#fff;font-size:15px;font-family:Arial;font-weight:bold;text-transform:uppercase}
.popup .title-popup .btn-close{position:absolute;top:7px;right:7px;cursor:pointer}
.popup .title-popup-product{position:relative;background:url(../images/main_sprite_popup.png) 0 0 repeat-x;height:42px;padding:0 0 0 0;color:#333;font-size:14px;font-weight:bold;line-height:42px}
.popup .content-popup{margin:0}
.popup .content-popup .warning{background-color:#ffffdd;margin:10px 20px 5px 20px;padding:6px 10px;color:#eb0000;font-size:12px;border:1px solid #ff8983}
.popup .btn-default{width:80px;margin:5px auto 12px}
.popup .btn-default .btn-cancel{background-color:#f8f8f8;margin-right:0;padding:3px 7px;color:#666;font-size:12px;font-weight:normal;border:1px solid #c2c2c2;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .btn-default .btn-cancel:hover{border:1px solid #ccc}
.popup .btn-default .btn-accept, .popup .btn-default .btn-refer{background:#4ea100;margin-right:5px;padding:3px 7px;color:#ff0;font-size:12px;font-weight:bold;border:1px solid #4f9500;box-shadow:0 1px 0 #cfcfcf;-moz-box-shadow:0 1px 0 #cfcfcf;-webkit-box-shadow:0 1px 0 #cfcfcf}
.popup .btn-default .btn-refer{color:#ff0 !important}
.popup .btn-default .price-refer{background:#4ea100;margin:0 11px 0 0;padding:3px 7px 6px 7px;color:#ff0;font-size:12px;font-weight:bold;line-height:16px;border:1px solid #4f9500;box-shadow:0 1px 0 #cfcfcf;-moz-box-shadow:0 1px 0 #cfcfcf;-webkit-box-shadow:0 1px 0 #cfcfcf}
.popup .btn-default .price-refer:hover{text-decoration:none}
.ie7 .popup .btn-default .btn-cancel, .ie7 .popup .btn-default .btn-accept, .ie7 .popup .btn-default .btn-refer{padding:3px 0}
.popup .btn-default .btn-accept:hover, .popup .btn-default .btn-refer:hover, .popup .btn-default .price-refer:hover{background:#4f9500;box-shadow:0 1px 0 #aaa;-moz-box-shadow:0 1px 0 #aaa;-webkit-box-shadow:0 1px 0 #aaa}
.popup .footer-popup{padding:5px 0}
.popup .footer-popup .btn-default{margin:0 auto}
.popup .btn-double{width:130px}
.popup .complain-row-btn{width:160px}
.popup .vb-btn{width:278px}
.ie7 .popup .vb-btn{width:302px}
.popup .note-imp{background-color:#fffad2;margin:10px;padding:6px 10px;border:1px solid #ffdc9f;color:#f30;font-size:12px;font-weight:bold;text-align:center}
.popup input{padding:2px 3px 3px 3px;border:1px solid #e0e1e6}
.tips-helps{position:relative}
.tips-helps img{margin-top:10px;margin-left:5px}
.tips-helps:hover span{display:block}
.tips-helps span{display:none;position:absolute;z-index:200;top:20px;left:10px;background-color:#fff9e0;width:200px;border:1px solid #ffd843;max-width:300px;line-height:16px;padding:4px 8px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#111;font-size:11px;font-weight:normal;text-shadow:none}

/* Bar-notice */
.popup .bar-notice{padding:15px 20px;color:#444;font-size:12px;font-weight:normal;line-height:16px}
.popup .notice-warning{color:#333}
.popup .notice-warning span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.2.png) 0 -1338px no-repeat;width:30px;height:30px;margin:-6px 0 0 8px}
.popup .notice-sucess{color:#390}
.popup .notice-sucess span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.2.png) 0 -1378px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-error{color:#d00}
.popup .notice-error span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.2.png) 0 -1412px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-confirm{color:#333}
.popup .notice-confirm span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.2.png) 0 -1446px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}

/* Msg */
.popup .msg-form{margin:0;padding:5px 0}
.popup .msg-form p{clear:both;margin-bottom:3px}
.popup .msg-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .msg-form a:hover{color:#f60;text-decoration:underline}
.popup .msg-form .row-info{position:relative}
.popup .msg-form .row-info .txt{color:#222;font-size:12px;line-height:26px;font-weight:bold}
.popup .msg-form .row-info label{display:block;float:left;width:120px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .msg-form .input-msg{float:left;background:#fff;width:280px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #e0e1e6}
.popup .msg-form .ctn-content{float:left;background:#fff;width:280px;height:100px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #e0e1e6}
.popup .msg-form .disabled-input{background:#f9f9f9;color:#555;font-size:12px;border:1px solid #cfcfcf;-moz-box-shadow:inset 1px 1px 0 0 #fff;-webkit-box-shadow:inset 1px 1px 0 0 #fff;box-shadow:inset 1px 1px 0 0 #fff}
.popup .msg-form .notice-error{margin-left:130px;color:#d00000;font-size:12px}
.popup .msg-form .contact-title{margin:15px 25px 0;padding:10px 0 6px 106px;border-top:1px solid #cdd1db}
.popup .msg-form .email{float:left;width:100%}
.popup .msg-form .email .e-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.popup .msg-form .email input{width:250px}
.popup .msg-form .code input{float:left;width:60px}
.popup .msg-form .code img{float:left;padding:0 0 0 7px}
.popup .msg-form .code .refresh{background:url(../images/icon_mini.1.0.2.png) 0 -972px no-repeat;float:left;width:12px;height:12px;margin:5px 0 0 10px;text-indent:-9999px}

/* province */
.province{position:relative;background:#fff;float:left;width:330px;padding:0 0 14px 0;border:4px solid rgba(255, 255, 255, 0.24);-moz-background-clip:border;-webkit-background-clip:border;background-clip:border-box;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
.province .title{background-color:#4ea100;float:left;width:330px;height:38px;line-height:38px;color:#fff;font-size:15px;font-weight:bold;text-transform:uppercase;border-bottom:2px solid #eee;border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0}
.province .title .icon{background:url(../images/icon_mini.1.0.2.png) 0 -1279px no-repeat;float:left;width:15px;height:20px;margin:9px 8px 0 17px}
.province .arrow{position:absolute;z-index:99;top:38px;left:19px;background:url(../images/icon_mini.1.0.2.png) 0 -1309px no-repeat;float:left;width:12px;height:7px}
.province .content-pop{float:left;width:314px;padding:10px 8px 0 8px}
.province .content-pop ul{overflow-y:auto;overflow-x:hidden}
.province .content-pop ul.collapse{height:186px;overflow:hidden !important}
.province .content-pop ul.expand{height:217px}
.province .content-pop ul, .province .content-pop li{float:left;width:100%}
.province .content-pop li{line-height:30px;border-bottom:1px solid #e5e5e5}
.province .content-pop li a{display:block;padding:0 0 0 5px;color:#333;font-size:12px;font-weight:bold}
.province .content-pop li a:hover{background-color:#f1f3f7;color:#f60}
.province .content-pop .other-province-btn{background-color:#f5f5f5;float:left;height:26px;line-height:26px;padding:0 10px;margin:14px 0 0 112px;color:#000;font-size:12px;font-weight:bold;border:1px solid #9e9e9e}
.province .content-pop .other-province-btn:hover{background-color:#efefef;text-decoration:none}

/* complain */
.complain{float:left;width:410px;padding:10px 20px 0 20px}
.complain em.error{display:none;background:url(../images/icon_mini.1.0.2.png) 0 -992px no-repeat;float:left;width:100%;line-height:18px;padding:0 0 10px 16px;color:#f30;font-size:11px}
.complain .loading{display:none;background:url(../images/loading.gif) center top no-repeat;float:left;width:100%;height:32px;padding:0 0 20px 0}
.complain .title{float:left;width:100%;padding:0 0 10px 0;font-size:14px;font-family:Arial}
.complain .row-check{float:left;width:100%;padding:2px 0}
.complain .row-check input{margin:0;padding:0}
.complain .row-check label{line-height:13px;padding:0 0 0 3px}
.complain .other-reason{float:left;width:100%}
.complain .other-reason .or-title{float:left;width:100%;padding:5px 0}
.complain .other-reason textarea{width:400px;height:50px;border:1px solid #cdd1db}
.complain .contact-title{float:left;width:100%;padding:10px 0 6px 0}
.complain .email{float:left;width:100%}
.complain .email .e-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.complain .email input{width:250px}
.complain .mobile{float:left;width:100%;padding:5px 0 0 0}
.complain .mobile .m-title{float:left;width:40px;line-height:22px;padding:0 10px 0 0}
.complain .mobile input{width:150px}
.complain .code{float:left;width:100%;padding:5px 0 20px 0}
.complain .code .c-title{float:left;line-height:22px;padding:0 10px 0 0}
.complain .code input{float:left;width:60px}
.complain .code img{float:left;padding:0 0 0 7px}
.complain .code .refresh{background:url(../images/icon_mini.1.0.2.png) 0 -972px no-repeat;float:left;width:12px;height:12px;margin:5px 0 0 10px;text-indent:-9999px}

/* vip-register */
.vip-register{float:left;width:410px;padding:10px 20px 0 20px}
.vip-register em.error{display:none;background:url(../images/icon_mini.1.0.2.png) 0 -992px no-repeat;float:left;width:100%;line-height:18px;padding:0 0 10px 16px;color:#f30;font-size:11px}
.vip-register .info-details{background:#efefef;width:400px;line-height:20px;margin:0 auto;padding:5px 0 3px 10px;border:1px solid #cdd1db}
.vip-register .info-details .price{color:#f30;font-weight:bold}
.vip-register .other{margin:10px 0}
.vip-register .other .label{color:#333;font-size:12px;font-weight:bold}
.vip-register .other .select-timer{width:200px;margin:5px 0}

/* vip-buying */
.popup .vip-buying{margin:0;padding:5px 0}
.popup .vip-buying .loading{display:none;background:url(../images/loading.gif) center top no-repeat;float:left;width:100%;height:32px;padding:0 0 20px 0}
.popup .vip-buying .pad10{padding-top:10px !important}
.popup .vip-buying .notice{background:#ffffdd;float:left;width:500px;line-height:18px;margin:10px 0 0 18px;padding:4px 0 3px 0;color:#eb0000;text-align:center;border:1px solid #ff8983}
.popup .vip-buying .info-details{background:#efefef;float:left;width:490px;line-height:16px;margin:10px 0 0 18px;padding:5px 0 3px 10px;border:1px solid #cdd1db}
.popup .vip-buying .info-details .price{color:#f30;font-weight:bold}
.popup .vip-buying .info-details a:hover{color:#f60}
.popup .vip-buying p{clear:both;margin-bottom:3px}
.popup .vip-buying a{color:#06c;font-size:12px;font-weight:normal}
.popup .vip-buying .row-info{position:relative;padding:0 0 2px 0}
.popup .vip-buying .row-info .txt{color:#222;font-size:12px;line-height:26px;font-weight:bold}
.popup .vip-buying .row-info label{display:block;float:left;width:120px;height:22px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:22px;text-align:right}
.popup .vip-buying .calendar .input-vb{background:url(../images/icon_mini.1.0.2.png) 98% -1187px no-repeat}
.popup .vip-buying .input-vb{float:left;background-color:#fff;width:150px;margin-right:4px;padding:3px 4px 2px 3px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .vip-buying .ctn-content{float:left;background:#fff;width:280px;height:100px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #cdd1db}
.popup .vip-buying .disabled-input{background:#f9f9f9;color:#555;font-size:12px;border:1px solid #cfcfcf;-moz-box-shadow:inset 1px 1px 0 0 #fff;-webkit-box-shadow:inset 1px 1px 0 0 #fff;box-shadow:inset 1px 1px 0 0 #fff}
.popup .vip-buying .note{padding:10px 25px 6px 131px;color:#f30}
.popup .vip-buying .service-box{float:left;margin:10px 0 20px 18px}

/* Google map */
.popup .map-form{margin:0;padding:15px 10px}
.popup .map-form .row-map{background:#fff;width:776px;margin-bottom:5px;padding:2px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-map .input-map{float:left;width:744px;padding:6px 4px;color:#555;font-size:14px;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.popup .map-form .row-map .btn-map{float:left;background:url(../images/icon_mini.1.0.2.png) -5px -1506px no-repeat;width:17px;height:17px;margin-top:6px;border:0;text-indent:-9999px}
.popup .map-form .row-map .btn-map:hover{background-position:-5px -1523px}
.popup .map-form .row-find{float:left;margin-bottom:10px}
.popup .map-form .row-find .sfar{display:block;float:left;background:#f8f8f8 url(../images/icon_mini.1.0.2.png) 0 -1476px no-repeat;width:140px;margin-right:4px;padding:3px 4px;padding-left:20px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-find .sfar select{background-color:#f8f8f8;width:140px;border:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.popup .map-form .btn-find{background:#4ea100;margin-right:5px;padding:3px 7px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #4f9500;box-shadow:0 1px 0 #cfcfcf;-moz-box-shadow:0 1px 0 #cfcfcf;-webkit-box-shadow:0 1px 0 #cfcfcf}
.popup .map-form .btn-find:hover{background:#4f9500;box-shadow:0 1px 0 #aaa;-moz-box-shadow:0 1px 0 #aaa;-webkit-box-shadow:0 1px 0 #aaa}
.popup .distance{display:inline;float:left;margin-left:5px;color:#333;font-size:12px;line-height:30px}
.popup .distance span{color:#d00;font-size:12px;font-weight:bold}
.popup .ctn-map{width:780px;height:400px;border:1px solid #eee}

/* Auto Up */
.popup .auto-up{padding:10px 20px}
.popup .auto-up .line-first{margin:10px 0;color:#333;font-size:12px;font-weight:bold}
.popup .auto-up .row-up{padding:6px}
.popup .auto-up .row-up .label-up{float:left;width:110px;margin-right:10px;padding-top:2px;color:#333;font-size:12px;font-weight:normal;text-align:right;cursor:default}
.popup .auto-up .row-up .timer-up{float:left;width:500px}
.popup .auto-up .row-up .timer-up-li{float:left;width:220px;margin:0 20px 0 0;padding:0 0 5px 0;color:#333;font-size:12px}
.popup .auto-up .row-up .timer-up-li strong{display:inline-block;width:46px}
.popup .auto-up .row-up .date-up{margin-right:5px;color:#36c;font-size:12px;line-height:18px}
.popup .auto-up .row-up .date-up .input-date-up{margin-right:3px}
.popup .auto-up .row-up .txt{color:#c00;font-size:12px;line-height:18px;font-weight:bold}
.popup .auto-up .row-up .note-up{color:#888;font-size:12px;line-height:18px;font-weight:normal}
.popup .auto-up .row-up select{background:#fff;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;box-shadow:inset 1px 1px 1px #eee;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee}
.popup .auto-up .row-up select, .popup .auto-up .row-up input[type="checkbox"]{margin:0 5px;padding:2px 2px 2px 6px;color:#333;font-size:11px;font-family:Arial;vertical-align:middle}
.popup .auto-up .row-up input[type="text"]{width:220px;padding:2px;color:#333;font-size:12px;font-family:Arial;border:1px solid #cbd7e4}
.popup .auto-up .showcase-dialog{margin:0 0 15px;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.popup .auto-up .showcase-dialog p{padding:6px 8px;font-size:12px;font-weight:normal;line-height:16px;border-bottom:1px solid #eee}
.popup .auto-up .showcase-dialog .label-name{color:#06c;font-size:12px;font-weight:bold}
.popup .auto-up .notice-up{margin:0 0 5px 5px;color:#555;font-size:12px}
.popup .auto-up .ctn-notice-up{color:#555;font-size:12px}
.popup .auto-up .label-block{display:block}

/* CP SMS */
.popup .cp-sms{padding:10px 20px}
.popup .cp-sms p{margin-bottom:3px;color:#333;font-size:12px;line-height:18px}
.popup .cp-sms img{vertical-align:baseline}
.popup .cp-sms .spec{color:#d00;font-size:13px;font-weight:bold}

/* Upload image tinymce */
.popup .wrap-upload-image{background-color:#fff;padding:10px 20px 10px}
.popup .wrap-upload-image .row-up{position:relative;clear:both;margin-bottom:6px}
.popup .wrap-upload-image .row-up label{display:block;float:left;width:100px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .tab-upload-image{background:#f9f9f9;height:32px;margin:0;border-bottom:1px solid #dfdfdf}
.popup .tab-upload-image li{display:inline;float:left;margin:3px 0 0 3px}
.popup .tab-upload-image li a{display:block;background:#f5f5f5;padding:7px 10px;margin-right:2px;color:#2175b6;font-size:12px;font-weight:normal;text-align:center;text-decoration:none}
.popup .tab-upload-image li a.selected{background:#fff;color:#d54e21;font-weight:bold;border:1px solid #dfdfdf;border-bottom:1px solid #fff;text-shadow:0 1px 0 #fff;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}

/* Login */
.popup .login-form{margin:0;padding:10px}
.popup .login-form p{clear:both;margin-bottom:6px}
.popup .login-form .end-row-info{margin-left:130px}
.popup .login-form .end-row-info span{padding:0 5px}
.popup .login-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .login-form a:hover{color:#f60;text-decoration:underline}
.popup .login-form .row-info{position:relative}
.popup .login-form .row-info label{display:block;float:left;width:120px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:bold;line-height:26px;text-align:right}
.popup .login-form .row-info .spent{position:relative;top:5px}
.popup .login-form .input-login{float:left;background:#fff;width:254px;margin-right:4px;padding:5px 4px;color:#333;font-size:12px;border:1px solid #ccd0da}
.popup .login-form .btn-login{display:inline;float:left;margin:5px 0 8px 132px}
.popup .login-form .btn-login .btn-submit, .popup .btn-default .btn-accept{background-image:linear-gradient(to bottom,#ff9000 0%,#fd7700 100%);background-image:-moz-linear-gradient(top,#ff9000 0%,#fd7700 100%);background-image:-webkit-linear-gradient(top,#ff9000 0%,#fd7700 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff9000', endColorstr='#fd7700');background-color:#ff9000;min-width:80px;height:28px;line-height:28px;margin-right:5px;padding:0 10px;color:#fff;font-weight:bold;text-shadow:0 0 3px #ff3d22;border:1px solid #fd7700;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:inset 0 1px 0px #ffa126, 0 1px 1px rgba(25, 25, 25, 0.3);-moz-box-shadow:inset 0 1px 0px #ffa126, 0 1px 1px rgba(25, 25, 25, 0.3);-webkit-box-shadow:inset 0 1px 0px #ffa126, 0 1px 1px rgba(25, 25, 25, 0.3)}
.ie7 .popup .login-form .btn-login .btn-submit, .ie7 .popup .btn-default .btn-accept{line-height:18px;padding:0}
.popup .login-form .btn-login .btn-submit:hover, .popup .btn-default .btn-accept:hover{background-image:linear-gradient(to bottom,#fd7700 0%,#ff9000 100%);background-image:-moz-linear-gradient(top,#fd7700 0%,#ff9000 100%);background-image:-webkit-linear-gradient(top,#fd7700 0%,#ff9000 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fd7700', endColorstr='#ff9000');background-color:#fd7700;color:#fff;text-decoration:none}
.popup .login-form .btn-login .btn-cancel, .popup .btn-default .btn-cancel{background-image:linear-gradient(to bottom,#fff 0%,#ebebeb 100%);background-image:-moz-linear-gradient(top,#fff 0%,#ebebeb 100%);background-image:-webkit-linear-gradient(top,#fff 0%,#ebebeb 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#ebebeb');background-color:#ebebeb;min-width:80px;height:28px;line-height:28px;padding:0 10px;color:#424e66;font-weight:bold;border:1px solid #c0c8d4;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 1px 1px rgba(25, 25, 25, 0.2);-moz-box-shadow:0 1px 1px rgba(25, 25, 25, 0.2);-webkit-box-shadow:0 1px 1px rgba(25, 25, 25, 0.2)}
.ie7 .popup .login-form .btn-login .btn-cancel, .ie7 .popup .btn-default .btn-cancel{line-height:18px;padding:0}
.popup .btn-default .btn-cancel:hover, .popup .login-form .btn-login .btn-cancel:hover, .popup .btn-default .btn-cancel:hover{background-image:linear-gradient(to bottom,#fff 0%,#dadada 100%);background-image:-moz-linear-gradient(top,#fff 0%,#dadada 100%);background-image:-webkit-linear-gradient(top,#fff 0%,#dadada 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dadada');background-color:#dadada;color:#f60;text-decoration:none}
.popup .login-form .notice-error{width:246px;margin-left:132px;color:#d00000;font-size:12px}
.popup .login-form .row-register{margin-left:132px;color:#333;font-size:12px}
/*---*/
.popup .login-form .other-login{float:left;width:420px;margin:25px 0 5px 20px}
.popup .login-form .other-login .ol-title{padding:0 10px 0 0;color:#444;font-weight:bold;line-height:30px}
.popup .login-form .other-login a{background:url(../images/main_sprite_v2.1.0.12.png) no-repeat;float:left;width:132px;height:42px;margin-right:5px;text-indent:-9999px}
.popup .login-form .other-login a:hover{filter:progid:DXImageTransform.Microsoft.alpha(opacity=85);-moz-opacity:85;opacity:0.85}
.popup .login-form .other-login a.facebook{background-position:-398px -605px}
.popup .login-form .other-login a.google{background-position:-398px -647px}
.popup .login-form .other-login a.yahoo{background-position:-398px -689px}

/*--------------------------*/
.popup .register-popup{float:right;padding:10px}
.popup .register-popup .check-row{padding-bottom:3px}
.popup .register-popup .frm-check label{width:350px}
.popup .register-popup .frm-row{float:left;width:100%;padding-bottom:8px}
.popup .register-popup .frm-row .error{float:left;width:387px;line-height:18px;padding:0 0 0 138px;color:#f30;font-size:11px}
.popup .register-popup .frm-row .grey-note{float:left;width:387px;line-height:18px;padding:0 0 0 138px;color:#999;font-size:11px}
.popup .register-popup .frm-row .grey-note strong{color:#666}
.popup .register-popup .frm-row .red-note{color:#f30}
.popup .register-popup .frm-row .frm-title{float:left;width:120px;line-height:26px;padding:0 17px 0 0;font-weight:bold;text-align:right}
.popup .register-popup .frm-row .frm-text{float:left;line-height:26px;color:#666}
.popup .register-popup .frm-row .frm-txt{float:left;height:26px}
.popup .register-popup .frm-row div.frm-txt{border:0 !important;padding:0 !important}
.ie7 .popup .register-popup .frm-row .frm-txt select{margin-top:3px}
.popup .register-popup .frm-row .check-row{float:left;padding-bottom:8px}
.popup .register-popup .frm-row .frm-check{float:left;width:380px;margin-top:4px}
.popup .register-popup .frm-row .frm-check input{float:left;padding:0;margin:0 5px 0 0}
.ie7 .popup .register-popup .frm-row .frm-check input{margin:0 2px 0 -4px}
.popup .register-popup .frm-row .frm-check label{float:left;width:350px;line-height:16px}
/**/
.popup .register-popup .frm-row .w360 input{width:354px}
.popup .register-popup .frm-row .w310 input{width:296px}
.popup .register-popup .frm-row .w240 input{width:234px}
.popup .register-popup .frm-row .w150 select{width:150px;margin-right:5px !important}
.popup .register-popup .frm-row .w115 input{width:115px}
.popup .register-popup .frm-row .w60 select{width:60px}
.popup .register-popup .frm-row .w60-1 input{width:54px}
.popup .register-popup .frm-row .w60-1 select{width:80px;margin:0 5px !important}
.popup .register-popup .box-404{margin-top:60px}
/**/
.popup .register-popup .check-row{padding-bottom:3px}
.popup .register-popup .w115 input{margin-right:10px !important}
.popup .register-popup .w115 input, .popup .register-popup .barcode{float:left}
.popup .register-popup .refresh{background:url(../images/icon_mini_v2.1.0.9.png) -83px -107px no-repeat;float:left;width:14px;height:14px;margin:6px 0 0 5px;text-indent:-9999px}
.popup .login-form .backtologin {margin-right: 13px;text-align: right}
.popup .register-popup .backtologin {text-align: right;width: 517px;}
/**/
.popup .register-popup .btn-row{float:left;padding:0 0 0 138px;margin-bottom:20px}
.popup .register-popup .error, .popup .login-form .error{display: none}
.popup .login-form .email-res-title{ margin-bottom: 10px;text-align: center;}
.popup .login-form a {color: #0066CC;font-size: 12px;font-weight: normal;}
.popup .login-form .refresh {   background: url("../images/icon_mini_v2.1.0.9.png") no-repeat scroll -83px -107px rgba(0, 0, 0, 0);display: inline-block;height: 14px;margin: 8px 0 0 5px;text-indent: -9999px;width: 14px;}

input.frm-txt, .frm-area, .frm-select {margin: 0!important;padding: 5px!important;color: #333!important;border: 1px solid #ccd0da!important;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;box-shadow: inset 0 3px 2px -2px #eceaea;-moz-box-shadow: inset 0 3px 2px -2px #eceaea;-webkit-box-shadow: inset 0 3px 2px -2px #eceaea;}
input.frm-txt {height: 15px !important;}

.btn-s01 {
    float: left;
    font-weight: bold;
    color: #fff!important;
    text-shadow: 0 0 2px #ff3d22;
    background-color: #ff9000;
    background-image: linear-gradient(to bottom,#ff9000 0,#fd7700 100%);
    background-image: -moz-linear-gradient(top,#ff9000 0,#fd7700 100%);
    background-image: -webkit-linear-gradient(top,#ff9000 0,#fd7700 100%);
    border: 1px solid #fd7700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff9000',endColorstr='#fd7700');
    -webkit-box-shadow: inset 0 1px 0 #ffa126,0 1px 1px rgba(25,25,25,0.3);
    -moz-box-shadow: inset 0 1px 0 #ffa126,0 1px 1px rgba(25,25,25,0.3);
    box-shadow: inset 0 1px 0 #ffa126,0 1px 1px rgba(25,25,25,0.3);
    height: 33px;
    padding: 0 22px;
    font-size: 16px;
    line-height: 33px;
}