@font-face {
    font-family:'123mua-price-webfont';
    src:url('123mua-price-webfont.eot');
    src:url('123mua-price-webfont.eot?#iefix') format('embedded-opentype'),
        url('123mua-price-webfont.woff') format('woff'),
        url('123mua-price-webfont.ttf') format('truetype'),
        url('123mua-price-webfont.svg#123MuaMedium') format('svg');
    font-weight:normal;
    font-style:normal;
}